flask
opencv-python-headless
numpy
werkzeug
torch==2.5.0 -f https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.20.1 -f https://download.pytorch.org/whl/cpu/torch_stable.html
torchaudio==2.5.0 -f https://download.pytorch.org/whl/cpu/torch_stable.html
basicsr==1.4.2
gfpgan
realesrgan
