flask
opencv-python-headless  # lighter than full opencv
numpy
werkzeug
torch==2.0.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
gfpgan
realesrgan
basicsr==1.4.2
